COMPOSE_PROJECT_NAME=bodarequest-production
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=mkori339
IMAGE_TAG=latest
FRONTEND_PORT=8080
BACKEND_PORT=3001
MYSQL_PORT=3306
MQTT_PORT=1883
MYSQL_ROOT_PASSWORD=change-production-db-password
MYSQL_DATABASE=bodarequest
FRONTEND_URL=http://localhost.54:8080
JWT_SECRET=change-production-jwt-secret
